cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
cssselect2==0.3.0
et-xmlfile==1.0.1
jdcal==1.4.1
lxml==4.5.2
openpyxl==3.0.5
pdfminer.six==20200726
Pillow==7.2.0
pycparser==2.20
python-docx==0.8.10
python-magic==0.4.18
python-pptx==0.6.18
reportlab==3.5.51
six==1.15.0
sortedcontainers==2.2.2
svglib==1.0.1
tinycss2==1.0.2
vidhdr==1.0.1
webencodings==0.5.1
